.article{
	&__image{
		background-image: url('../../src/images/main_article.jpg');
		background-size: cover;
		display: flex;
		flex-direction: column;
		position: fixed;
		justify-content: flex-end;
		align-items: center;
		width: 40%;
		height: 100vh;
		@include respond(tab-port){
			position: relative;
			width: 100%
		}
	}
	&__description{
		color: #fff;
		width: 28rem;
		text-align: center;
		margin-bottom: 7rem;
		h3{
			font-family: 'Playfair Display', serif;
			font-size: 3rem;
			a{
				text-decoration: none;
				color: #fff;
			}
		}
	}
	&__date{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8rem;
		width: 14.7rem;
		height: 4.5rem;
		background-color: $color-main;
		p{
			font-size: 1.6rem;
			font-family: 'AFuturaOrtoBold';
			margin:0;
			color: #fff;
			position: relative;
			display: flex;
			justify-content: center;
			&::after{
				position: absolute;
			    content: '';
			    width: .2rem;
			    height: 8rem;
			    background-color: $color-main;
			    top: 3rem;
			}
		}
	}
}