
.search-modal{
	position: fixed;
	width: 0vw;
	height: 0%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	visibility: hidden;
	.search-input{
		border: none;
		background-color: transparent;
		border-bottom: .2rem solid $color-content;
		color: #fff;
		font-size: 3rem;
		transition: .5s;
		width: 0;
		&:focus{
			outline: none;
		}
	}
	.fa-times{
		font-size: 2.5rem;
		cursor: pointer;
		right: 0;
		transition: all .2s;

		&:hover{
			color: $color-content;
		}
	}
	@include respond(tab-port){
		display: none;
	}
}

.search-modal-active{
	width: 100vw;
	height: 100%;
	visibility: visible;
}
.scale-times{
	width: 30% !important;
}

