/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@font-face {
  font-family: 'AFuturaOrtoBold';
  src: url('./../fonts/AFuturaOrtoBold.ttf')  format('truetype'), /* Safari, Android, iOS */

}
 
@font-face {
  font-family: 'Futura-Medium';
  src: url('./../fonts/Futura-Medium.ttf')  format('truetype');
  src: url('./../fonts/Futura-Medium.otf')  format('truetype');     
}

@font-face {
  font-family: 'Futura-MediumItalic';
  src: url('./../fonts/Futura-MediumItalic.ttf')  format('truetype');
  src: url('./../fonts/Futura-MediumItalic.otf')  format('truetype');     
}
/* 
@font-face {
  font-family: 'Segoeui';
  src: url('/../fonts/latest.eot'); IE9 Compat Modes
  src: url('/../fonts/latest?#iefix') format('embedded-opentype'), IE6-IE8
       url('/../fonts/latest.woff2') format('woff2'), Super Modern Browsers
       url('/../fonts/latest.woff') format('woff'), Pretty Modern Browsers
       url('/../fonts/latest.ttf')  format('truetype'), Safari, Android, iOS
       url('/../fonts/latest.otf')  format('truetype'),
       url('/../fonts/latest.svg#svgFontName') format('svg'); Legacy iOS
}  */