.main-container{
	width: 100%;
	padding: 0 10rem;
	transition: all .5s;
	@include respond(tab-port){
		padding: 0;
	}
}
.no-padding{
	padding: 0;
}
.main-section-blur{
	filter: blur(8px);
	transition: all .5s;
}
.footer-margin{
	display: flex;
	justify-content: flex-end;
	h1{
		padding: 2rem 0;
		font-family: Futura-Medium;
		font-size: 1.3rem;
		width: 50%;
		display: flex;
		justify-content: center;
		color: $color-content;
		border-top: .2rem solid #EFEFEF;
		@include respond(tab-port){
			width: 100%;
		}
	}
	@include respond(tab-port){
		margin-bottom: 13rem;
	}
}
.search-active{
	width: 25rem !important;
	visibility: visible !important;
	@include respond(tab-port){
		width: 25rem !important;
	}
}
@include respond(tab-port){
	.tablet{
		padding-right: 0;
	    padding-left: 0; 
	    flex: 0 0 100%;
    	max-width: 100%;
	}
	.row-responsiv{
	 	margin: 0;
	 }

	.header-active{
		height: 90vh !important;
		transition: all .5s;
	}
	.menu-active{
		display: flex !important;
		transition: all .1s;
		visibility: visible !important;
		opacity: 1 !important;
	}
	.center{
		display: flex;
		justify-content: center;
	}
}
.blue-image{
	background-image: url('/../../src/images/comments.jpg') !important;
}
.content-padding{
	padding: 2.5rem 0;
}
.comments-padding{
	padding: 3.5rem 0;
}
.side-padding{
	padding: 2rem;
}

.button{
	width: 7.6rem;
	height: 3rem;
	color: #fff;
	border: none;
	font-family: AFuturaBold;
	letter-spacing: .1rem;
	text-transform: uppercase;
}	
.category-padding-button{
	padding: 5rem 0;
}